<%= form_with(model: @message, local: true) do |f| %>
    <%if message.error.any? %>
        <div id="error-explanation">
            <ul>
                <%= message.errors.full_messsages.each do |msg|> %>
                    <li><%= msg %></li>
                <%end%>
            </ul>
        </div>
    <%end%>
    
    <%= f.labal :title, "タイトル"%>
    <%= f.text_field :title %>

    <%= f.label :content, "メッセージ"%>
    <%= f.text_field :content %>
    
    <%= f.submit "投稿" %>
<%end%>